
<mat-toolbar fxLayoutAlign="center center" style="background-color: #E0BFB8 ">
  <!-- create top header -->
      <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%">
        <!-- adding a logo -->
        <span fxLayout="row"><img class="logo" src="assets/logo.png"><h1 class="mt-2">SHANGRI-LA</h1></span>
        <span class="flexExpand"></span>
        <div class="inline mt-2" fxLayout="row" fxLayoutGap="10px">
          <mat-icon class="icon">person_outline</mat-icon>
          <span class="text">Sign In</span>
          <span>|</span>
          <span>Join Now</span>
          <span>|</span>
          <span>Find Reservations</span>
          <span>|</span>
          <mat-icon class="icon">public</mat-icon>
          <span class="text">English</span>
          <span>|</span>
          <mat-icon class="icon"> stay_primary_portrait</mat-icon>
        </div>
     </div>
    <!-- create bottom header -->

  </mat-toolbar>



