/* styles for top navbar */
.flexExpand {
    flex: 1 1 auto;
  }

  .logo{
    width: 35px;
  }

  .icon{
   font-size:  25px;
  }

  /* Display a single column in mobile view */
@media (max-width: 768px) {
 
  mat-toolbar{
    height: auto;
  }

  .text{
    display: none;
  }
}
