
<div class="offers">
  <div class="destination-heading" style="margin-left: 55px;"> 
    <h2 class="mt-5">Experience someting new</h2> 
    <p class="mt-2">Close to home or across the world, Hilton is there for you with memorable offers and experiences. Check out what's new</p> 
  </div>
<div class="tile-container">
  <div  *ngFor="let card of cardData" class="tile" style="background-color: yellowgreen;">
       <img [src]="card.image" alt="{{card.title}}" /> 
      <h3 class="title fw-bold">{{card.title}}</h3>     
  </div>
</div>
</div>

