    
.tile-container {
  flex-wrap: wrap; 
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 35px; /* Adjust the gap between the columns */
  padding: 60px; 
}

.tile img {
  width: 100%; height: 100%;
}


.destination-heading{
  display: flex;
  flex-direction: column;
}

.title{
  position: relative;
  text-align: center;
  bottom: 80px;
  color: #FFF;
  font-weight: 700; 
  font-size: 18px;
}

.title{
  transform: translateY(100%);
  transition: transform 0.4s;
}
.tile:hover .title{
  transform: translateY(0);
  bottom: 150px;
}

/* Display a single column in mobile view */
@media (max-width: 768px) {
  .tile-container {
    grid-template-columns: 1fr; 
  }  
}


   
