<div class=" slides align-self-center d-flex flex-column">
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
     
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/des-1.jpg" alt="Los Angeles" class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>We had such a great time in LA!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/des-2.jpg" alt="Chicago" class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div> 
      </div>
      <div class="carousel-item">
        <img src="assets/des-3.jpg" alt="New York" class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>  
      </div>
    </div>
    
  <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <!-- -------slide footer--------- -->

  <div class="container-fluid slide-footer row" style="background-color: rgba(240, 246, 246, 0.392); height: 60px; margin-bottom: 0px;">
    <div class="col-4 section p-2">
      <div class="item p-2 row">
        <div class="first-date col-6">
          <input class="date" type="date">
        </div>
        <div class="last-date col-6">
          <input class="date" type="date">
        </div>
      </div>
    </div>
  
    <div class="col-4 section">
      <div class="item p-2 row">
        <div class="first-date col-3">
          <span><mat-icon>person</mat-icon></span>
        </div>
        <div class="item1 col-3">
          <select class="dropdown ml-2">
            <option value="option1">1 Room, 1 Adult, 0 children</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </div>
      </div>
    </div>
  
    <div class="col-3 section p-2">
        <div class="item p-2 row">
          <div class="first-date col-3">
            <span><mat-icon>sell</mat-icon></span>
          </div>
          <div class="item1 col-3">
            <select class="dropdown">
              <option value="option1">Special Code</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
          </div>
        </div>
      </div>
    <div class="col-1 section p-2">
      <div class="item p-2 search">Search</div>
    </div>
</div> 
</div>
