
.tile-container {
  flex-wrap: wrap; 
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 35px; /* Adjust the gap between the columns */
  padding: 60px; 
}

.tile {
  background-color: white;
}

.tile img {
  width: 100%;
  height: 340px;
}

.topic{
  font-size: 18px;
  margin: 10px 0;
}


.tile-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.tile:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);

}

.destination-heading{
  display: flex;
  justify-content: center;
}

.offers{
  background-color: rgba(215, 216, 216, 0.586);
}

/* Display a single column in mobile view */
@media (max-width: 768px) {
  .tile-container {
    grid-template-columns: 1fr; 
  }

  .tile img {
    width: 100%;
    height: 250px;
  }
  
}
