<div class="offers">
  <div class="destination-heading "> 
    <h2 class="mt-5">Offers</h2> 
  </div>
<div class="tile-container">
  <div *ngFor="let image of images" class="tile">
     <div class="title img"> 
      <img [src]="image.source" alt="{{image.topic}}"/>
    </div>
    <div class="tile-info">
      <p class="category">{{image.category}}</p>
      <p class="date">{{image.date}}</p>
      <h3 class="topic fw-bold">{{image.topic}}</h3>
      <p class="content">{{image.content}}</p>
      <p class="price fw-bold">{{image.offer}}</p>
      <button type="button" class="btn btn-outline-secondary mt-3">FIND A HOTEL</button>
    </div>
    
  </div>
</div>
</div>







