<div class="footer-main"[ngStyle]="{backgroundImage:'url(assets/bg-img.jpg)'}" >
<div class="footer-div2" fxLayout="row wrap" fxLayoutGap="16px"  fxLayout.xs="column" fxLayoutAlign="space-around center">
    <img  src="assets/scroll.png" class="scroll" (click)="scrollToTop()">
<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
            <div>
                <div class="details1"> 
                    <h4>Corporate Information</h4> 
                    <p>Cinnamon Hotels & Resorts</p> 
                    <p>John Keells Group</p> 
                </div> 
                <div class="details1 mt-5"> 
                    <h4>Blogs</h4> 
                    <p>Cinnamon Ublog</p>    
                </div> 
                <div class="details1 mt-5"> 
                    <h4>Careers</h4> 
                    <p>Careers</p>    
                </div> 
               
            </div>
          
            <div>
                <div class="details2"> 
                    <h4>News & Awards</h4> 
                    <p>News</p> 
                    <p>Awards</p> 
                </div> 
                <div class="details2 mt-5"> 
                    <h4>Corporate Governannce</h4> 
                    <p>CSR</p> 
                </div> 
            </div>
          
            <div >
                <div class="details3"> 
                    <h4>Data Privacy & Security Policy</h4> 
                    <p>Terms & Conditions</p> 
                    <p>Privacy Statements</p> 
                </div> 
                <div class="details3 mt-5"> 
                    <h4>Get In Touch</h4> 
                    <p>Corporate Contact Information</p> 
                    <p>Hotel Contact Information</p> 
                </div> 
                <div class="details3 mt-5"> 
                    <h4>Follow Us</h4> 
                    <div class="icons" fxLayout="row wrap"> 
                        <span><img src="assets/fb.png" style="height:45px; width:60px;"></span>
                        <span><img src="assets/twitter.png" style="height:45px; width:60px;"></span>
                        <span><img src="assets/linked.png" style="height:45px; width:60px;"></span>
                        <span><img src="assets/insta.png" style="height:42px; width:42px;"></span>
                        <span><img src="assets/youtube.png" style="height:40px; width:60px;"></span>          
                    </div> 
                </div> 
            </div>
        </div>
            <div class="second mt-5" fxLayout="column" fxLayout.xs="column" > 
                <h4>Get Cinnamon in your inbox</h4> 
                <div class="icons" fxLayout="row wrap">
                    <div class="input-group mb-3 email-box">
                        <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2"><mat-icon>keyboard_arrow_right</mat-icon></span>
                    </div>
                </div> 
                <div class="checkbox"> 
                    <input class="form-check-input check" type="checkbox" value="">
                    <label for="name">By checking inbox, i consent to the processing of my personal data by cinnamon for the 
                         purpose and within the conditions set out in this form and the cinnamon data protection policy </label> 
                </div>    

            </div> 
          
            <div class="copyright-footer mt-5"  fxLayout="row" fxLayout.xs="column"> 
                <h6>Copyright@2023</h6> 
            </div> 
   </div> 
</div> 

